{% extends "base.html" %}
{% load static %}

{% block title %}Animal Map | Water & Sanitation{% endblock %}

{% block head_extras %}
{% endblock %}

{% block content %}

<!-- Do NOT touch the header above (it's shared in base.html) -->


  <section class="wrap" style="max-width:900px">
    <article class="panel" style="aspect-ratio:auto; padding:18px">
      <h2>Our Mission</h2>
      <p>We aim to provide real-time water safety checks, sanitation maps, and community reporting tools.</p>
    </article>
    <div style="margin-top: 30px;">
    {{ map_html|safe }}
  </div>
  </section>

<!-- >>> Write your own page content here <<< -->



<!-- Do NOT touch the footer below (it's shared in base.html) -->
{% endblock %}

{% block page_scripts %}
<script>
  window.pageInit = function(){};
</script>
{% endblock %}
