{% extends "base.html" %}
{% load static %}

{% block title %}About | Water & Sanitation{% endblock %}

{% block head_extras %}
{% endblock %}

{% block content %}

<!-- Do NOT touch the header above (it's shared in base.html) -->


<div id="treasure-game-root" style="min-height:640px;"></div>
<script type="module" src="{% static 'treasure/assets/index-Dg_mcpru.js' %}"></script>

<!-- >>> Write your own page content here <<< -->

<!-- Do NOT touch the footer below (it's shared in base.html) -->
{% endblock %}

{% block page_scripts %}
<script>
  window.pageInit = function(){};
</script>
{% endblock %}
  