{% extends "base.html" %}
{% load static %}

{% block title %}About | Water & Sanitation{% endblock %}

{% block head_extras %}
{% endblock %}

{% block content %}
<!-- Do NOT touch the header above (it's shared in base.html) -->

<!-- >>> Write your own page content here <<< -->
    <section class="wrap" style="max-width:900px">
    <article class="panel" style="aspect-ratio:auto; padding:18px">
      <h1>Coming soon</h1>
    </article>
  </section>

<!-- Do NOT touch the footer below (it's shared in base.html) -->
{% endblock %}

{% block page_scripts %}
<script>
  window.pageInit = function(){};
</script>
{% endblock %}
